@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lepcha&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    outline: none;

}

html{
    font-size: 62.5%;
}

html, body{
    width: 100%;
}

body{
    font-size: 1.5rem;
    font-family: var(--fonte);
    overflow-x: hidden;
}

.ggaprogramer{
    width: 100%;
    padding: 2rem 0;
    background: var(--cor-preto);
    color: var(--cor-branco);
    border-bottom: 0.3rem solid var(--cor-red);
    border-top: 0.3rem solid var(--cor-red);
}

.ggaprogramer p{
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
}

.ggaprogramer a{
    font-style: italic;
    display: inline-block;
    transition: .2s;
    color: var(--cor-branco);
}

.ggaprogramer a:hover{
    transform: scale(1.05);
}

.titulo{
    font-size: 6rem;
    width: 100%;
    color: var(--cor-branco);
    text-align: center;
    text-shadow: 0.2rem 0.2rem 2rem var(--cor-branco);
}

.whats{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    transition: .2s;
}

.whats:hover{
    transform: scale(1.05);
}

.whats img{
    width: 10rem;
}

/* .titulo i{
    font-size: 6rem;
    color: var(--cor-branco);
} */

:root{
    --cor-branco: #fff;
    --cor-preto: black;
    --cor-preto-claro: #1e2326;
    --cor-red: #c5c0bf;
    --fonte: 'Noto Sans Lepcha', sans-serif;
    --gradiente: linear-gradient(90deg, rgba(2,0,36,0.9) 0%, rgba(131,131,131,0.7) 100%);
}

/* Cabecalho - Início */

.botao-mobile, .botao-oculto{
    border: 0.2rem solid var(--cor-preto);
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: .2s;
}

.botao-mobile:hover{
    transform: scale(1.05);
}

.botao-mobile span, .botao-oculto span{
    width: 5rem;
    height: 0.3rem;
    border-radius: 1rem;
    background: var(--cor-preto);
}

.botao-oculto{
    position: absolute;
    top: 1rem;
    right: 1rem
}

.botao-oculto span:nth-of-type(1){
    transform: rotate(45deg) translate(0.2rem, 0.5rem);
}

.botao-oculto span:nth-of-type(2){
    transform: rotate(-45deg) translate(0.5rem, -0.5rem);
}

.cabecalho-mobile{
    display: none;
}

.cabecalho-oculto{
    display: flex;
    transform: translateX(30rem);
    height: 100vh;
    position: relative;
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    background: var(--cor-branco);
    box-shadow: 0.2rem 0.2rem 2rem rgba(255, 255, 255, 0.5);
    flex-flow: column nowrap;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    transition: .3s;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.cabecalho-oculto a{
    color: var(--cor-preto);
    transition: .2s;
}

.cabecalho-oculto a:hover{
    transform: scale(1.05);
}

.cabecalho, .cabecalho-mobile{
    z-index: 10000;
    width: 100%;
    padding: 2rem 0;
    box-shadow: 0.2rem 0.2rem 2rem rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    background: var(--cor-branco);
}

.cabecalho>div, .cabecalho-mobile>div{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho img, .cabecalho-mobile img, .cabecalho-oculto img{
    width: 20rem;
}

.cabecalho nav{
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
}

.cabecalho a, .cabecalho-oculto a{
    transition: .2s;
    font-size: 2rem;
    color: var(--cor-preto);
    font-family: var(--fonte);
    display: flex;
    flex-flow: column nowrap;
}

.cabecalho nav a:hover{
    transform: scale(1.1);
}

.cabecalho>div>a:hover{
    transform: scale(1.05);
}

.cabecalho a span, .cabecalho-oculto a span{
    width: 0%;
    transition: .5s;
    display: inline-block;
    border-radius: 1rem;
    height: 0.3rem;
    background: var(--cor-preto);
}

.cabecalho a:hover span, .cabecalho-oculto a:hover span{
    width: 100%;
}

/* Cabecalho - Fim */

/* Container Home - Início */

.container-home{
    width: 100%;
    min-height: 100vh;
    background: url('images/banner.png') fixed;
}

.container-home>div{
    z-index: 1000;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background: var(--gradiente);
}

.container-home>div>div{
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.container-home h1{
    color: var(--cor-branco);
    font-size: 8rem;
    text-shadow: 0.2rem 0.2rem 2rem var(--cor-branco);
}

.container-home>div>div img{
    width: 10rem;
}

.container-home h2{
    color: var(--cor-branco);
    font-size: 1.5rem;
}

.container-home a{
    background: var(--cor-red);
    color: var(--cor-branco);
    font-weight: bold;
    padding: 1rem;
    font-size: 2.5rem;
    border-radius: 1rem;
    text-align: center;
    transition: .3s;
    box-shadow: 0.2rem 0.2rem 2rem rgba(108, 108, 108, 0.8);
}

.container-home a:hover{
    transform: scale(1.1);
    background: var(--cor-branco);
    color: var(--cor-red);
    box-shadow: 0.2rem 0.2rem 2rem rgba(255, 255, 255, 0.8);
}

/* Container Home - Fim */

/* Container Sobre Nos - Fim */

.container-sobre-nos{
    width: 100%;
    background: url('images/equipamento5.jpg');
    background-size: cover;
    border-top: 0.3rem solid var(--cor-branco);
    border-bottom: 0.3rem solid var(--cor-branco);
}

.container-sobre-nos>div{
    width: 100%;
    padding: 2rem 0;
    background: var(--gradiente);
}

.container-sobre-nos .titulo{
    max-width: 40rem;
}

.container-sobre-nos>div>div{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.container-sobre-nos h2{
    width: 100%;
    text-align: center;
}

.container-sobre-nos h1{
    font-size: 5rem;
    color: var(--cor-branco);
    text-shadow: 0.2rem 0.2rem 2rem rgba(255, 255, 255, 0.8);
}

.container-sobre-nos>div>div>div:nth-of-type(1){
    display: flex;
    flex-flow: row wrap;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}

.container-sobre-nos>div>div>div:nth-of-type(2){
    padding: 1rem;
    max-width: 60rem;
    border-radius: 1rem;
    transition: .3s;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
    background: var(--cor-branco);
    transition: .2s;
}

.container-sobre-nos>div>div:nth-of-type(2)>span{
    width: 60%;
    background: var(--cor-red);
    height: 0.5rem;
    border-radius: 1rem;
}

.container-sobre-nos>div>div:nth-of-type(2) p{
    text-align: justify;
    text-indent: 2rem;
}

.container-sobre-nos>div>div:nth-of-type(2) p::first-letter{
    font-size: 3rem;
    color: var(--cor-red);
}

.container-sobre-nos>div>div:nth-of-type(2) p span{
    font-weight: bold;
}

.container-sobre-nos>div>div:nth-of-type(2):hover{
    transform: scale(1.05);
}

.container-sobre-nos img{
    width: 20rem;
}


/* Container Sobre Nos - Fim */

/* Container Servicos - Início */

.container-servicos{
    width: 100%;
    padding: 3rem 0;
    background: var(--cor-red);
}

.container-servicos>div{
    width: 90%;
    margin: 0 auto;
}

.servicos{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.servico{
    padding: 1rem;
    width: 40rem;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    color: var(--cor-branco);
    border-radius: 1rem;
    background: var(--cor-preto-claro);
    transition: .3s;
}

.servico:hover{
    transform: translateY(2rem);
    background: var(--cor-branco);
    color: var(--cor-preto-claro);
}

.servico:hover span{
    background: var(--cor-red);
    color: var(--cor-branco);
}

.servico p{
    text-indent: 2rem;
    text-align: center;
}

.servico img{
    width: 10rem;
}

.servico span{
    padding: 1rem;
    background: var(--cor-branco);
    color: var(--cor-red);
    border-radius: 1rem;
    font-weight: bold;
}

.servico h2{
    font-size: 4rem;
}


/* Container Servicos - Fim */


/* Container Representacoes - Inicio */

.container-representacoes{
    width: 100%;
    background: url('images/equipamento4.jpg');
    background-size: cover;
    border-top: 0.2rem solid var(--cor-branco);
    border-bottom: 0.2rem solid var(--cor-branco);
}

.container-representacoes>div{
    padding: 3rem 0;
    background: var(--gradiente);
}

.container-representacoes>div>div{
    width: 90%;
    margin: 0 auto;
}

.representacoes{
    padding: 1rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    display: flex;
    flex-flow: row wrap;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.representacoes img{
    width: 15rem;
}

/* Container Representacoes - Fim */


/* Container Contatos - Início */

.container-contatos{
    width: 100%;
    padding: 3rem 0;
    background: var(--cor-red);
}

.container-contatos>div{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.container-contatos h2{
    width: 60%;
    margin: 0 auto;
    font-size: 2rem;
    color: var(--cor-branco);
    text-align: center;
}

.contatos{
    margin: 2rem 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-flow: row wrap; 
    background: var(--cor-preto-claro); 
    padding: 1rem;
    border-radius: 1rem;
}

.contato{
    width: 30rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    color: var(--cor-branco);
}

.contato img{
    width: 8rem;
}

.contato a:nth-of-type(1){
    transition: .3s;
}

.contato a:nth-of-type(1):hover{
    transform: scale(1.1);
}

.contato a:nth-of-type(2){
    max-width: 20rem;
    background: var(--cor-red);
    color: var(--cor-branco);
    padding: 1rem;
    font-size: 2rem;
    border-radius: 1rem;
    text-align: center;
    transition: .3s;
    box-shadow: 0.2rem 0.2rem 2rem rgba(108, 108, 108, 0.8);
}

.contato a:nth-of-type(2):hover{
    transform: scale(1.05);
    background: var(--cor-branco);
    color: var(--cor-red);
    box-shadow: 0.2rem 0.2rem 2rem rgba(255, 255, 255, 0.8);
}

/* Container Contatos - Fim */


/* Container Footer - Início */

.rodape{
    width: 100%;
    background: var(--cor-branco);
    padding: 3rem 0;
}

.rodape>div>a{
    display: inline-block;
    transition: .2s;
}

.rodape a:hover{
    transform: scale(1.05);
    text-decoration: underline;
}

.rodape img{
    width: 20rem;
}

.rodape>div{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    color: var(--cor-red);
}

.rodape-coluna h2{
    font-size: 3rem;
    color: var(--cor-preto);
}

.rodape-coluna a{
    color: var(--cor-red);
    transition: .2s;
}

.rodape-coluna{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-flow: column nowrap;
    text-align: center;
}

.rodape iframe{
    width: 50rem;
    height: 30rem;
}

.copyright{
    padding: 1rem 0;
}

.copyright p{
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
}

/* Container Footer - Fim */

@media (max-width: 940px){
    .container-home h1{
        font-size: 6rem;
    }

    .container-home>div>div img{
        width: 6rem;
    }
}


@media (max-width: 840px){

    html{
        font-size: 54%;
    }

    .cabecalho{
        display: none;
    }

    header.cabecalho-oculto-mostrar{
        transform: translateX(0rem);
    }

    .rodape>div{
        flex-flow: column nowrap;
    }

    .cabecalho-mobile{
        display: block;
    }
    
    .container-home h2{
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }

}

@media (max-width: 640px){

    html{
        font-size: 50%;
    }

    .container-home h1{
        font-size: 4rem;
        text-align: center;
    }

    .container-home>div>div img{
        width: 4rem;
    }

    .container-home>div>div{
        flex-flow: row wrap;
    }

    .rodape iframe{
        width: 20rem;
        height: 20rem;
    }

    .titulo{
        font-size: 4rem;
    }

}